   * {
       margin: 0px;
       padding: 0px;
       box-sizing: border-box;
       font-family: 'Montserrat Alternates', sans-serif;
   }

   p {
       font-family: 'Montserrat Alternates', sans-serif;
       font-size: 14px;
   }

   h1, h2, h3, h4, h5 {
       font-family: 'Manrope', sans-serif;
   }

   header {
       width: 100%;
       height: 144px;
       background-color: #000c20;
       /* position: sticky;
       top: 0px;
       z-index: 1; */
   }

   header .top_menu {
       width: 1200px;
       height: 40px;
       /* background-color: gold; */
       margin: auto;
   }

   header .top_menu .phone {
       width: 250px;
       height: 100%;
       /* background-color: brown; */
       float: left;
       line-height: 40px;
       font-size: 14px;
       color: grey;
   }

   header .top_menu #mail {
       margin-left: 20px;
   }

   header .top_menu #social_icons {
       float: right;
       text-align: right;
   }

   header .top_menu #social_icons .fa {
       margin: 0px 10px;
       font-size: 17px;
   }

   header .top_menu #social_icons .fa:hover {
       color: #e0581e;
       transform: rotateY(180deg);
   }

   header .inner_header {
       width: 1200px;
       height: 100px;
       /* background-color: red; */
       margin: auto;
   }

   header .inner_header .logo {
       width: 20%;
       height: 100%;
       float: left;
       line-height: 110px;
       /* background-color: green; */
   }

   header .inner_header .logo a {
       display: block;
   }

   header .inner_header nav {
       width: 65%;
       height: 100%;
       float: left;
       line-height: 100px;
       /* background-color: gold; */
       text-align: right;
   }

   header .inner_header nav ul li {
       list-style: none;
       display: inline-block;
       /* background-color: green; */
       width: 100px;
       text-align: center;
   }

   header .inner_header nav ul li a {
       text-decoration: none;
       display: block;
       color: white;
       font-family: 'Hind Madurai', sans-serif;
   }

   header .inner_header nav ul li a.active {
       color: #e0581e;
   }

   header .inner_header nav ul li a:hover {
       color: #e0581e;
   }

   header .inner_header nav ul li {
       position: relative;
   }

   header .inner_header nav ul li .dp {
       margin: 0px;
       padding: 0px;
       width: 200px;
       display: none;
       position: absolute;
       top: 100px;
       background-color: #111c2f;
       border-top: 5px solid red;
   }

   header .inner_header nav ul li:hover .dp {
       display: block;
       /* width: 100%; */
   }

   header .inner_header nav ul :nth-child(4):hover {
       margin: 0px 0px 90px;
       transition: all 0.4s ease;
   }

   header .inner_header nav>ul>li>ul>li {
       display: block;
       width: 100%;
       padding-left: 10px;
       line-height: 40px;
       margin: 0px;
       text-align: left;
   }

   header .inner_header nav ul>li>ul li a:hover {
       color: red;
       margin-left: 10px;
       transition: all 0.3s linear;
   }

   header .inner_header .btn {
       width: 15%;
       height: 100%;
       line-height: 100px;
       float: right;
       text-align: right;
       position: relative;
       /* background-color: cyan; */
   }

   header .inner_header .btn a {
       text-decoration: none;
       color: white;
       padding: 15px 30px;
       word-spacing: 3px;
       border-radius: 10px;
       background-color: #e0581e;
   }

   header .inner_header label {
       width: 65px;
       height: 65px;
       border: 2px solid white;
       /* background-color: red; */
       border-radius: 10px;
       line-height: 60px;
       font-size: 20px;
       text-align: center;
       cursor: pointer;
       position: absolute;
       right: 40px;
       top: 55px;
       z-index: 1;
       color: white;
       display: none;
   }

   header .inner_header input {
       display: none;
   }

   header .inner_header input:checked~nav {
       left: 0px;
       transition: all 0.4s linear;
   }

   .cover {
       width: 100%;
       height: 610px;
       background-image: url("img/hero/h1_hero.jpg");
       background-position: center center;
       background-repeat: no-repeat;
       background-size: cover;
       /* background-color: red; */
       padding-top: 1px;
   }

   .cover .inner_cover {
       width: 1200px;
       height: 500px;
       margin: 50px auto;
       /* background-color: gold; */
       padding: 70px 250px 0px 5px;
       color: white;
   }

   .cover .inner_cover h1 {
       font-size: 70px;
   }

   .cover .inner_cover h2 {
       font-size: 20px;
   }

   .cover .inner_cover h1 span {
       color: #e0581e;
   }

   .cover .inner_cover .btn {
       width: 100%;
       height: 60px;
       margin: 50px 0px 20px 0px;
       /* background-color: red; */
   }

   .cover .inner_cover .btn input {
       width: 75%;
       height: 100%;
       line-height: 60px;
       border-radius: 5px 0px 0px 5px;
       float: left;
       border: none;
       padding-left: 20px;
       font-size: 20px;
   }

   .cover .inner_cover .btn .right_btn {
       width: 25%;
       height: 100%;
       float: left;
       text-align: center;
       line-height: 60px;
       border-radius: 0px 5px 5px 0px;
       background-color: #e0581e;
   }

   .cover .inner_cover .btn .right_btn a {
       display: block;
       text-decoration: none;
       color: white;
   }

   .sunday_banner {
       width: 100%;
       height: 200px;
       background-color: lightgrey;
       margin-top: 100px;
   }

   .sunday_banner .inner_sunday {
       width: 1200px;
       height: 100%;
       margin: auto;
       /* background-color: red; */
   }

   .sunday_banner .inner_sunday .banner_box {
       width: 32%;
       height: 100%;
       display: inline-block;
       margin-right: 5px;
       margin-left: 7px;
       padding: 70px 0px 0px 80px;
       /* background-color: green; */
       position: relative;
   }

   .sunday_banner .inner_sunday .banner_box .fa {
       position: absolute;
       left: 10px;
       color: #e0581e;
       font-size: 50px;
   }

   .sunday_banner .inner_sunday .banner_box p {
       margin-bottom: 10px;
       color: grey;
   }

   .our_Services {
       width: 100%;
       height: 200px;
       /* background-color: gold; */
       margin: 100px 0px 0px 0px;
       text-align: center;
   }

   .our_Services .inner_services {
       width: 400px;
       height: 100%;
       padding: 60px 0px 0px 0px;
       /* background-color: red; */
       margin: auto;
   }

   .our_Services .inner_services h4 {
       margin-bottom: 10px;
   }

   .transporat_card {
       width: 100%;
       height: 600px;
       margin-bottom: 250px;
       /* background-color: green; */
       padding-top: 1px;
   }

   .transporat_card .inner_card {
       width: 1200px;
       height: 100%;
       margin: auto;
       /* background-color: red; */
       padding-top: 1px;
   }

   .transporat_card .inner_card .box1 {
       border: 2px solid lightgrey;
       /* background-color: gold; */
       width: 380px;
       height: 550px;
       display: inline-block;
       margin: 20px 8px 0px 9px;
       text-align: center;
       padding: 100px 3px 0px 30px;
       position: relative;
       overflow: hidden;
       border-radius: 5px;
   }

   .transporat_card .inner_card .box1 .fa {
       font-size: 60px;
       color: #e0581e;
   }

   .transporat_card .inner_card .box1 h1 {
       margin: 50px 0px 20px;
       color: #000c20;
   }

   .transporat_card .inner_card .box1 p {
       color: grey;
   }

   .transporat_card .inner_card .box1 .overlay {
       position: absolute;
       bottom: -100%;
       left: 0px;
       padding: 100px 3px 0px 30px;
       height: 100%;
       width: 100%;
       background-color: #e0581e;
       box-sizing: border-box;
       text-align: center;
       transition: all 0.7s ease;
   }

   .transporat_card .inner_card .box1 .overlay .fa {
       font-size: 60px;
       color: white;
   }

   .transporat_card .inner_card .box1 .overlay h1 {
       margin: 50px 0px 20px;
       color: white;
   }

   .transporat_card .inner_card .box1 .overlay p {
       color: white;
   }

   .transporat_card .inner_card .box1:hover .overlay {
       bottom: 0%;
   }

   .our_company {
       width: 100%;
       height: 650px;
       /* background-color: red; */
       margin: 0px 0px 30px;
       padding-top: 1px;
   }

   .our_company .inner_company {
       width: 1200px;
       height: 98%;
       margin: auto;
       /* background-color: gold; */
       padding-top: 1px;
   }

   .our_company .inner_company article {
       width: 60%;
       height: 100%;
       padding: 5px 250px 0px 30px;
       float: left;
       /* background-color: silver; */
   }

   .our_company .inner_company article h3 {
       color: orangered;
   }

   .our_company .inner_company article h1 {
       color: #19077e;
       margin: 15px 0px 20px;
       line-height: 50px;
       font-size: 40px;
   }

   .our_company .inner_company article p {
       color: grey;
       margin: 20px 0px 40px;
   }

   .our_company .inner_company article p+p {
       margin: 20px 0px 80px;
   }

   .our_company .inner_company article a {
       padding: 20px 35px;
       margin-top: 40px;
       text-decoration: none;
       color: white;
       background-color: orangered;
       border-radius: 10px;
       word-spacing: 10px;
   }

   .our_company .inner_company .pic_side {
       width: 40%;
       height: 100%;
       float: left;
       border-radius: 10px;
       background-color: navy;
   }

   .big_form {
       width: 100%;
       height: 650px;
       background-image: url("img/gallery/section_bg02.jpg");
       /* background-color: red; */
       background-position: center center;
       background-repeat: no-repeat;
       background-size: cover;
       padding-top: 1px;
       margin: 100px 0px 100px;
   }

   .big_form .inner_big_form {
       width: 1200px;
       height: 97%;
       margin: 10px auto 0px;
       padding-top: 1px;
       /* background-color: green; */
   }

   .big_form .inner_big_form .form {
       width: 700px;
       height: 600px;
       float: right;
       margin: 10px 0px 0px 0px;
       padding: 20px 0px 0px 0px;
       border-radius: 10px;
       background-color: lightgrey;
   }

   .big_form .inner_big_form .form h3 {
       color: orangered;
       margin-left: 30px;
   }

   .big_form .inner_big_form .form h1 {
       color: #19077e;
       margin: 20px 0px 10px 25px;
   }

   .big_form .inner_big_form .form p {
       color: grey;
       margin-left: 30px;
   }

   .big_form .inner_big_form .form .div1 {
       width: 100%;
       height: 45px;
       /* background-color: cyan; */
       margin: 15px 0px;
   }

   .big_form .inner_big_form .form .div1 input {
       width: 45%;
       height: 100%;
       margin: 0px 0px 0px 23px;
       padding-left: 20px;
       font-size: 15px;
       border: none;
   }

   .big_form .inner_big_form .form #contact #small {
       /* background-color: red; */
       width: 20%;
       text-align: center;
   }

   .big_form .inner_big_form .form #contact input {
       /* background-color: red; */
       width: 70%;
   }

   .big_form .inner_big_form .form #p_5 input {
       width: 28%;
       /* background-color: gold; */
       margin-right: 7px;
   }

   .big_form .inner_big_form .form .div2 {
       /* background-color: orchid; */
       width: 100%;
       height: 45px;
       line-height: 20px;
   }

   .big_form .inner_big_form .form .div2 span {
       font-size: 10px;
   }

   .big_form .inner_big_form .form .div2 input {
       margin: 0px 10px 0px 20px;
       cursor: pointer;
   }

   .big_form .inner_big_form .form .div2 label {
       cursor: pointer;
   }

   .big_form .inner_big_form .form #p_6 input {
       width: 20%;
   }

   .big_form .inner_big_form .form #p_7 {
       text-align: center;
       line-height: 45px;
       width: 95%;
       margin: 20px auto 0px;
       background-color: orangered;
   }

   .big_form .inner_big_form .form #p_7 a {
       display: block;
       cursor: pointer;
       text-decoration: none;
       color: white;
   }

   .team {
       width: 100%;
       height: 600px;
       /* background-color: rgb(3, 3, 3); */
       margin: 50px 0px;
   }

   .team .inner_team {
       width: 1200px;
       height: 100%;
       margin: auto;
       /* background-color: blue; */
   }

   .team .inner_team .team_box1 {
       width: 30%;
       height: 450px;
       display: inline-block;
       margin: 20px 0px 0px 27px;
       position: relative;
       overflow: hidden;
   }

   .team .inner_team .team_box1:hover .overlay {
       bottom: 0px;
   }

   .team .inner_team .team_box1 .overlay {
       width: 100%;
       height: 30%;
       background-color: #f15f22;
       position: absolute;
       text-align: center;
       padding-top: 20px;
       left: 0px;
       bottom: -40%;
       transition: all 0.4s ease-in;
   }

   .team .inner_team .team_box1 .overlay h3, .team .inner_team .team_box1 .overlay p {
       margin-bottom: 10px;
       color: white;
   }

   .team .inner_team .team_box1 .overlay a {
       text-decoration: none;
   }

   .team .inner_team .team_box1 .overlay .fa {
       font-size: 20px;
       margin: 0px 10px;
       color: white;
   }

   .team .inner_team .team_box1 figure {
       width: 100%;
       height: 100%;
       position: relative;
   }

   .team .inner_team .team_box1 figure figcaption {
       position: absolute;
       left: 0px;
       bottom: 0px;
       width: 100%;
       height: 80px;
       background-color: white;
       opacity: 0.8;
       padding-top: 20px;
       text-align: center;
   }

   .team .inner_team .team_box1 figure figcaption h3 {
       margin-bottom: 5px;
       color: rgb(9, 4, 71);
   }

   .client_cover {
       width: 100%;
       height: 600px;
       /* background-color: red; */
       background-image: url("img/gallery/section_bg04.jpg");
       background-position: center center;
       background-repeat: no-repeat;
       background-size: cover;
       margin: 0px 0px 50px;
   }

   .client_cover .inner_client_cover {
       width: 1200px;
       height: 98%;
       margin: auto;
       /* background-color: gold; */
   }

   .client_cover .inner_client_cover .text_side {
       width: 65%;
       height: 100%;
       float: left;
       padding: 130px 80px 0px 50px;
       /* background-color: forestgreen; */
   }

   .client_cover .inner_client_cover .text_side h3 {
       color: orangered;
   }

   .client_cover .inner_client_cover .text_side h1 {
       margin: 20px 0px;
       color: white;
   }

   .client_cover .inner_client_cover .text_side p {
       margin: 20px 0px 30px;
       color: grey;
   }

   .client_cover .inner_client_cover .text_side .testimonial {
       width: 300px;
       height: 150px;
       padding: 50px 0px 0px 130px;
       /* background-color: gold; */
       position: relative;
   }

   .client_cover .inner_client_cover .text_side .testimonial img {
       position: absolute;
       left: 0px;
       top: 15px;
       width: 35%;
   }

   .client_cover .inner_client_cover .text_side .testimonial h4 {
       color: white;
   }

   .client_cover .inner_client_cover .text_side .testimonial p {
       margin: 5px 0px;
   }

   .client_cover .inner_client_cover .small_form {
       width: 35%;
       height: 100%;
       float: left;
       padding-top: 1px;
       /* background-color: cyan; */
   }

   .client_cover .inner_client_cover .small_form .form {
       width: 400px;
       height: 400px;
       padding: 40px 30px 0px;
       background-color: white;
       border-radius: 10px;
       margin: 100px auto 0px;
       text-align: center;
   }

   .client_cover .inner_client_cover .small_form .form input {
       width: 100%;
       height: 60px;
       margin: 20px 0px;
       word-spacing: 5px;
   }

   .client_cover .inner_client_cover .small_form .form h1 {
       margin-bottom: 20px;
       color: rgb(9, 4, 71);
   }

   .client_cover .inner_client_cover .small_form .form input[type="text"] {
       padding-left: 30px;
       font-weight: bold;
   }

   .client_cover .inner_client_cover .small_form .form input[type="button"] {
       font-weight: bold;
       background-color: #f15f22;
       border: none;
       cursor: pointer;
       border-radius: 10px;
   }

   .blog_boxes {
       width: 100%;
       height: 630px;
       /* background-color: red; */
       margin-bottom: 50px;
   }

   .blog_boxes .inner_blog_boxes {
       width: 1200px;
       height: 100%;
       /* background-color: gold; */
       margin: auto;
       padding-top: 50px;
   }

   .blog_boxes .inner_blog_boxes .blog_boxe1 {
       width: 30%;
       height: 480px;
       float: left;
       margin-left: 30px;
       /* background-color: green; */
       overflow: hidden;
       border-radius: 5px;
   }

   .blog_boxes .inner_blog_boxes .blog_boxe1 figure {
       width: 100%;
       height: 350px;
       /* background-color: cyan; */
       overflow: hidden;
   }

   .blog_boxes .inner_blog_boxes .blog_boxe1 figure img {
       width: 100%;
       height: 100%;
       display: block;
       transition: all 0.5s linear;
   }

   .blog_boxes .inner_blog_boxes .blog_boxe1:hover img {
       transform: scale(1.1);
   }

   .blog_boxes .inner_blog_boxes .blog_boxe1 figcaption {
       width: 100%;
       height: 130px;
       /* background-color: chocolate; */
   }

   .blog_boxes .inner_blog_boxes .blog_boxe1 figcaption .month {
       width: 25%;
       height: 100%;
       /* background-color: red; */
       float: left;
       padding-top: 30px;
       position: relative;
   }

   .month .month_box {
       width: 80px;
       height: 80px;
       background-color: lightgrey;
       border-radius: 5px;
       text-align: center;
       padding-top: 10px;
   }

   .month .month_box h1 {
       color: #f15f22;
   }

   .blog_boxes .inner_blog_boxes .blog_boxe1 figcaption .right_content {
       width: 75%;
       height: 100%;
       float: left;
       padding: 20px 5px 0px 20px;
       /* background-color: pink; */
   }

   .blog_boxes .inner_blog_boxes .blog_boxe1 figcaption .right_content p {
       margin-bottom: 8px;
   }

   .blog_boxes .inner_blog_boxes .blog_boxe1 figcaption .right_content p a {
       text-decoration: none;
       margin: 0px 30px 0px 0px;
       color: silver;
   }

   .blog_boxes .inner_blog_boxes .blog_boxe1 figcaption .right_content p a .fa {
       margin-right: 8px;
   }

   .blog_boxes .inner_blog_boxes .blog_boxe1 figcaption .right_content h1 a {
       text-decoration: none;
       color: rgb(9, 4, 71);
       font-size: 25px;
   }

   .blog_boxes .inner_blog_boxes .blog_boxe1 figcaption .right_content h1 a:hover {
       color: #f15f22;
   }

   .footer_section {
       width: 100%;
       height: 710px;
       background-color: #000c20;
   }

   .footer_section .inner_footer_section {
       width: 1200px;
       height: 100%;
       /* background-color: gold; */
       margin: auto;
   }

   .footer_section .inner_footer_section .top_footer {
       width: 100%;
       height: 200px;
       margin-bottom: 10px;
       border-bottom: 1px solid white;
       /* background-color: brown; */
   }

   .footer_section .inner_footer_section .top_footer .important {
       width: 70%;
       height: 90%;
       float: left;
       padding: 60px 0px 0px 20px;
       /* background-color: green; */
   }

   .footer_section .inner_footer_section .top_footer .important h1 {
       color: white;
   }

   .footer_section .inner_footer_section .top_footer .number {
       width: 30%;
       height: 90%;
       float: left;
       line-height: 200px;
       text-align: right;
       color: orangered;
       /* background-color: cyan; */
   }

   .footer_section .inner_footer_section .footer_boxes {
       width: 100%;
       height: 420px;
       /* background-color: green; */
   }

   .footer_section .inner_footer_section .footer_boxes .footer_box1 {
       width: 23%;
       height: 400px;
       float: left;
       margin-left: 19px;
       padding: 30px 0px 0px 20px;
       /* background-color: #19077e; */
   }

   .footer_section .inner_footer_section .footer_boxes .footer_box1 h3 {
       margin-bottom: 50px;
       color: white;
       word-spacing: 5px;
   }

   .footer_section .inner_footer_section .footer_boxes .footer_box1 ul li {
       list-style: none;
       margin: 15px 0px;
   }

   .footer_section .inner_footer_section .footer_boxes .footer_box1 ul li a {
       text-decoration: none;
       color: grey;
       transition: all 0.5s linear;
   }

   .footer_section .inner_footer_section .footer_boxes .footer_box1 ul li a:hover {
       color: #e0581e;
       margin-left: 10px;
   }

   .footer_section .inner_footer_section .footer_boxes #icon p {
       margin: 30px 0px 50px;
       color: grey;
   }

   .footer_section .inner_footer_section .footer_boxes #icon ul li {
       display: inline-block;
       margin: 0px 17px;
   }

   .footer_section .inner_footer_section .footer_boxes #icon ul li a .fa {
       font-size: 28px;
   }

   .footer_section .inner_footer_section .footer_boxes #icon ul li a:hover {
       margin-left: 0px;
       color: #e0581e;
   }

   .footer_section .inner_footer_section footer {
       width: 100%;
       height: 80px;
       float: left;
       margin-top: 10px;
       /* background-color: pink; */
       text-align: center;
       line-height: 80px;
       color: white;
   }

   /* ===================media-quree================== */

   @media (min-width: 180px) and (max-width: 359px) {
       header {
           height: 105px;
       }
       header .top_menu {
           display: none;
       }
       header .inner_header {
           width: 100%;
       }
       header .inner_header .logo {
           width: 100%;
       }
       header .inner_header .logo img {
           width: 60%;
       }
       header .inner_header nav {
           width: 100%;
           height: 450px;
           padding-top: 50px;
           float: none;
           position: relative;
           text-align: left;
           left: -120%;
           top: 105px;
           background-color: #000C20;
       }
       header .inner_header nav ul {
           width: 100%;
       }
       header .inner_header nav ul li {
           display: block;
           width: 100%;
       }
       header .inner_header nav ul li a {
           line-height: 45px;
       }
       header .inner_header nav ul li .dp {
           top: 0px;
           left: 0px;
       }
       header .inner_header .btn {
           display: none;
       }
       header .inner_header label {
           display: block;
           height: 50px;
           width: 50px;
           font-size: 19px;
           line-height: 50px;
           top: 30px;
           right: 3%;
       }
   }

   @media (min-width: 360px) and (max-width: 479px) {
       header {
           height: 105px;
       }
       header .top_menu {
           display: none;
       }
       header .inner_header {
           width: 340px;
       }
       header .inner_header .logo {
           width: 100%;
       }
       header .inner_header nav {
           width: 100%;
           height: 450px;
           padding-top: 50px;
           border-top: 2px solid black;
           float: none;
           position: absolute;
           text-align: left;
           left: -120%;
           top: 105px;
           background-color: #000C20;
       }
       header .inner_header nav ul {
           width: 100%;
       }
       header .inner_header nav ul li {
           display: block;
           width: 100%;
       }
       header .inner_header nav ul li a {
           line-height: 45px;
       }
       header .inner_header nav ul li .dp {
           top: 0px;
           left: 0px;
       }
       header .inner_header nav ul li:hover .dp {
           width: 100%;
       }
       header .inner_header .btn {
           display: none;
       }
       header .inner_header label {
           display: block;
           top: 20px;
       }
   }

   @media (min-width: 480px) and (max-width: 575px) {
       header {
           height: 105px;
       }
       header .top_menu {
           display: none;
       }
       header .inner_header {
           width: 450px;
       }
       header .inner_header .logo {
           width: 100%;
       }
       header .inner_header nav {
           width: 100%;
           height: 450px;
           padding-top: 50px;
           border-top: 2px solid black;
           float: none;
           position: absolute;
           text-align: left;
           left: -120%;
           top: 105px;
           background-color: #000C20;
       }
       header .inner_header nav ul {
           width: 100%;
       }
       header .inner_header nav ul li {
           display: block;
           width: 100%;
       }
       header .inner_header nav ul li a {
           line-height: 45px;
       }
       header .inner_header nav ul li .dp {
           top: 0px;
           left: 0px;
       }
       header .inner_header nav ul li:hover .dp {
           width: 100%;
       }
       header .inner_header .btn {
           display: none;
       }
       header .inner_header label {
           display: block;
           top: 20px;
       }
   }

   @media (min-width: 576px) and (max-width: 767px) {
       header {
           height: 105px;
       }
       header .top_menu {
           display: none;
       }
       header .inner_header {
           width: 550px;
       }
       header .inner_header .logo {
           width: 100%;
       }
       header .inner_header nav {
           width: 100%;
           height: 450px;
           padding-top: 50px;
           border-top: 2px solid black;
           float: none;
           position: absolute;
           text-align: left;
           left: -120%;
           top: 105px;
           background-color: #000C20;
       }
       header .inner_header nav ul {
           width: 100%;
       }
       header .inner_header nav ul li {
           display: block;
           width: 100%;
       }
       header .inner_header nav ul li a {
           line-height: 45px;
       }
       header .inner_header nav ul li .dp {
           top: 0px;
           left: 0px;
       }
       header .inner_header nav ul li:hover .dp {
           width: 100%;
       }
       header .inner_header .btn {
           display: none;
       }
       header .inner_header label {
           display: block;
           top: 20px;
       }
   }

   @media (min-width: 768px) and (max-width: 991px) {
       header {
           height: 105px;
       }
       header .top_menu {
           display: none;
       }
       header .inner_header {
           width: 750px;
       }
       header .inner_header .logo {
           width: 100%;
       }
       header .inner_header nav {
           width: 100%;
           height: 450px;
           float: none;
           position: absolute;
           border-top: 2px solid black;
           text-align: left;
           padding-top: 50px;
           left: -120%;
           top: 103px;
           background-color: #000C20;
       }
       header .inner_header nav ul {
           width: 100%;
       }
       header .inner_header nav ul li {
           display: block;
           height: 100%;
           width: 100%;
       }
       header .inner_header nav ul li a {
           line-height: 45px;
       }
       header .inner_header nav ul li .dp {
           top: 0px;
           left: 0px;
       }
       header .inner_header nav ul li:hover .dp {
           width: 100%;
       }
       header .inner_header .btn {
           display: none;
       }
       header .inner_header label {
           display: block;
           top: 20px;
       }
   }

   @media (min-width: 992px) and (max-width: 1199px) {
       header .top_menu {
           width: 960px;
       }
       header .inner_header {
           width: 960px;
       }
       header .inner_header .btn a {
           padding: 15px 25px;
           font-size: 13px;
       }
   }

   @media (min-width: 1200px) {}